
.footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: rgb(0, 0, 0);
}

.contact-info {
  padding: 10;
  border-radius: 5px;
  background-color: rgb(255, 255, 255,0.1);
}

.contact-info > .child {
    color: rgb(255, 255, 255);
}

.row {
  margin: 0 auto;
  grid-row: 2;
}

.a {
  color: white;
}

.social-media {
  background-color: rgb(255, 255, 255);
}

.btn-outline-danger.custom-btn {
	background-color: rgb(0, 0, 0);
	border-color: rgb(255, 255, 255);
}

.max-width {
    max-width: 1000px;
    /* padding: 0 80px; */
    margin: 150px;
  }

#home {
    color: aliceblue;
    display: flex;
    min-height: 100vh;
    background: url("images/bg.jpg") no-repeat center;
}

.home .max-width {
    width: 100%;
    display: flex;
  }

  .home .max-width .row {
    margin-right: 0;
  }

  .home .home-content .text-1 {
    font-size: 27px;
  }

  body{
    font-family: "Audiowide", sans-serif;
  }

  .project-summary {
    width: 100%;
    height: 500px;
    object-fit: cover;
    background-repeat: no-repeat;
  }
  
  #project-summary  h1,p {
    padding-left: 14px;
    color: white;
  }

  #project-summary img {
    width: 200px;
    height: 64px;
  }

  #project-summary button {
    background-color: rgba(0, 0, 0, 0);
    border: 0ch;
  }

  #screenshots {
    background-color: black;
    width: 100%;
    height: 600px;
  }

  #screenshots.scrollmenu {
    background-color: rgb(0, 0, 0);
    overflow: auto;
    white-space: nowrap;
  }

  #screenshots .screenshot {
    width: 202px;
    height: 450px;
    margin: 14PX;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
  }
  #screenshots h1 {
    color: rgb(255, 255, 255);
    margin: 14PX;
  }

  #role {
    background-color: black;
    width: 100%;
    height: 100px;
  }

  #role h1 {
    color: rgb(255, 255, 255);
    padding: 14PX;
  }

  #responsibilities {
    background-color: black;
    width: 100%;
    height: 300px;
  }

  #responsibilities h1,ol {
    color: rgb(255, 255, 255);
    padding: 14PX;
  }

  #responsibilities ol {
    margin-left: 14px;
  }

  #documentation {
    background-color: black;
    width: 100%;
    height: 450px;
  }

  #documentation h1,ol {
    color: rgb(255, 255, 255);
    padding: 14PX;
  }

  #design-scheme {
    background-color: black;
    width: 100%;
    height: 450px;
  }

  #design-scheme h1,ol {
    color: rgb(255, 255, 255);
    padding: 14PX;
  }